html
{
    color: #222;
    line-height: 1.4;
    font-family: "Adobe Garamond Pro Bold", "Times New Roman", serif;
    height: 100%;
    width: 100%;
    min-width: 1024px;
    font-size: 14px;
}
body
{
    height: 100%;
    width: 100%;
    min-width: 1024px;
}
body.servicespage
{
    background: #000000 url("../img/background.jpg") no-repeat fixed center;
    background-size: cover;
    padding: 35px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

img#logo
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 26px;
}
div#menu
{
    text-align: center;
    display: block;
}
div#menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
div#menu li
{
    display:inline;
}
div#menu li a
{
    display: inline-block;
    text-align: center;
    padding: 32px 28px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}
#servicesheader ul
{
    display:inline-block;
    list-style-type: none;
    margin: 4px 0 8px 79px; /*  margin-left: 79px, bottom: 8px; right: 0; top: 4px; */
    overflow: hidden;
    vertical-align: bottom;
}
#servicesheader li
{
    display: inline-block;
    position: relative;
    width: auto;
    margin-right: 26px;
}
#servicesheader li a
{
    width: auto;
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-top: 5px;
    padding-right: 3px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #9b9b9b;
    text-transform: uppercase;
}
#servicesheader li a.current
{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff ;

}
#servicescontent
{
    width:800px;
    padding-left: 48px;
    flex: 1;
}

#servicescontent p
{
    color: #ffffff;
}
#servicescontent .accordion
{
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: block;
    font-family: "Adobe Garamond Pro Bold", "Times New Roman", serif;
}
#servicescontent p
{
    font-family: "Adobe Garamond Pro Bold", "Abril Fatface", serif;
}
#servicescontent .active
{
    background-color: #ccc;
}

#servicescontent .panel
{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    transition: 0.4s ease-out;
}

#servicescontent button.accordion
{
    background: url("../img/pluslogo.png") no-repeat left center;
    padding-left: 24px;
    font: bold italic 14pt "Adobe Garamond Pro Bold";
    text-transform: lowercase;
}
#servicescontent button.active
{
    background: url("../img/minuslogo.png") no-repeat left center;
    padding-left: 24px;
    font: bold small-caps 14pt "Adobe Garamond Pro Bold";
}

#servicesheader li a::before
{
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
#servicesheader li a::after
{
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}
#servicesheader li a::before, #servicesheader li a::after
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

*, ::after, ::before
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#servicesheader li a:hover, #servicesheader li a:focus
{
    color: #fff;
}

#servicesheader li a:hover::before,
#servicesheader li a:focus::before,
#servicesheader li a:hover::after,
#servicesheader li a:focus::after
{
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

#servicesfooter
{
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    bottom:0;
    color: #9b9b9b;
    padding-bottom: 27px;
    font-size: 11px;
}

#servicesfooter a
{
    color: #9b9b9b;
}
div#header
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #000000;
    height: 66%;
}

div#footer
{
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    bottom:0;
    color: #9b9b9b;
    padding-bottom: 29px;
    font-size: 11px;
}
div#footer a
{
    color: #9b9b9b;
}
/* Code from WebStorm Boilerplate */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
img,
video {
    vertical-align: middle;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
